/*
    Scroll Bar Styling
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Base Site Styling */

html {
  scroll-behavior: smooth;
}

@font-face { font-family: Montserrat-Light; src: url('fonts/Montserrat-Light.ttf'); }
@font-face { font-family: Montserrat-Regular; src: url('fonts/Montserrat-Regular.ttf'); }
@font-face { font-family: Montserrat-Semi; src: url('fonts/Montserrat-SemiBold.ttf'); }

.social-icon:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

a { color: black; }
a:visited { color: black; }
a:hover { color: black; }
a:active { color: black; }

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.centered-info {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
}

#main {
  
  background-color: black;
  background-image: url("back.JPEG");
  background-position: center;
  background-size: cover;

  color: white;

  flex: 1 0 auto;
  width: 100%;
}

#mobNav {
  display: none;
}

#lapNav {
  margin-top: 0;
}

#lapNav a {
  color: white;
  font-family: 'Montserrat-Semi', sans-serif;
}

@media only screen and (max-width: 767px) {

  #mobNav {
    display: inherit;
  }

  #lapNav {
    display: none;
  }

  #main {
    background-position: center right;
    background-size: cover;
  }

  .social-icon {
    font-size: 4em;
  }

  .centered-info {
    left: 50%;
  }

}

#bg-container {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

#about-container {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.5em;
  font-family: Montserrat-Regular;
}

#projects-container {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1em;
  font-family: Montserrat-Regular;
}

#contact-container {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1em;
  font-family: Montserrat-Regular;
}

.column p {
  /* font-family: 'Balsamiq Sans', cursive; */
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}

/* Navigation */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  margin-top: 1%;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}